<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        a { text-decoration: none; 
            color: black;} 
        </style>
</head>
<body>
    <header class="body__header">
        <div class="encabezado">
     <img class="logo" src="/img/logo-mercado-liebre.svg" height="30" alt="Logo">
     <div class="header--buscar">
         <form action="">
         <input type="text" placeholder="Buscar productos, marcas, etc"/>
         <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
     </div>
      <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuota y sin tarejta de crédito</p>
    </div>
     
     <nav>
         <ul class="home_nav--sitio">
             <li>Ofertas</li>
             <li>Tiendas Oficiales</li>
             <li>Vender</li>
             <li>Ayuda</li>
         </ul>
         <ul class="home_nav--user">
             <a href="./register"><li>Crear tu cuenta<i class="fa-solid fa-id-card"></i></li></a>
              <a href="./login"><li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li></a>
             <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></i>
             </li>
         </ul>
     </nav>
     <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
     <div class="banner"><img src="/img/img-home-banner.jpg" ></div>
    </header>
    <main>
         <h3>Basado en tu última visita</h3>
         <section class="caja_section">
             <article class="caja_padre">
            <div class="img"><img src="/img/img-cafetera-moulinex.jpg"  width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck">    
                </i><p class="precio">$6.770</p><p class="descuento">40% OFF</p><p class="descripcion">Cafetera Moulinex</p>
            </div> 
            </article>
            <article class="caja_padre">
            <div class="img"><img src="/img/img-macbook-pro-2019.jpg" width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$230.000 </p><p class="descuento">20% off</p><p class="descripcion">MacBook Pro 2019 </p></p>
            </div> 
            </article>
            <article class="caja_padre">
            <div class="img"><img src="/img/img-samsung-galaxy-s10.jpg" width="200" ></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i><p class="precio">$70.500 </p><p class="descuento">10% off</p><p class="descripcion"> Samsung Galaxy S10</p></p>
            </div>
            </article>
            <article class="caja_padre">
            <div class="img"><img src="/img/img-tv-samsung-smart.jpg" width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i><p class="precio">$23.200 </p><p class="descuento"> 5% off</p><p class="descripcion"> SmartTv Samsung 43"</p></p></p>
            </div>
            </article>
            </section>
            <h3>Sección de Ofertas</h3>
            <section class="caja_section">
            <article class="caja_padre">
            <div class="img"><img src="/img/img-cafetera-moulinex.jpg" width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i><p class="precio">$6.770 </p><p class="descuento"> 40% OFF </p><p class="descripcion">Cafetera Moulinex</p></p></div>  
            </article>
            <article class="caja_padre">
            <div class="img"><img src="/img/img-macbook-pro-2019.jpg"  width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i><p class="precio">$230.000 </p><p class="descuento"> 20% off</p><p class="descripcion"> MacBook Pro 2019</p></p></div>
            </article>
             <article class="caja_padre">
            <div class="img"><img src="/img/img-samsung-galaxy-s10.jpg"  width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i><p class="precio">$70.500 </p><p class="descuento"> 10% off</p><p class="descripcion">Samsung Galaxy S10</p></p></div>
            </article>
            <article class="caja_padre">
            <div class="img"><img src="/img/img-tv-samsung-smart.jpg" width="200"></div>
            <div class="detalle">
                <i class="fa-solid fa-truck"></i> <p class="precio">$23.200 </p><p class="descuento">5% off</p><p class="descripcion"> SmartTv Samsung 43"</p></div>
            </article>
            </section>
    </main>
    <hr>
    <footer>
        <section class="footer__section"> 
            <div class="footer_section--icono">
            <i class="fa-solid fa-credit-card"></i>
            </div>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer__section">
            <div class="footer_section--icono">
            <i class="fa-solid fa-gift"></i>
            </div>
            <p><b>Envío gratis desde $ 2.500</b></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer__section">
            <div class="footer_section--icono">
            <i class="fa-solid fa-user-shield"></i>
            </div>
            <p><b>Seguridad de principio a fin</b></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </footer>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>