<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        a { text-decoration: none; 
            color: black;} 
        </style>
</head>
<body>
    <header>
        <div class="encabezado">
            <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" height="30" alt="Logo"></a>
            <div class="body__header--buscar">
                <form action="">
                <input type="text" placeholder="Buscar productos, marcas, etc"/>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
               </form>
            </div>
             <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuota y sin tarejta de crédito</p>
           </div>
            
            <nav>
                <ul class="home_nav--sitio">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul class="home_nav--user">
                    <a href="./register"><li>Crear tu cuenta<i class="fa-solid fa-id-card"></i></li></a>
                     <a href="./login"><li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li></a>
                    <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></i>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu">
               <i class="fas fa-bars"></i>
               </div>
    </header>
    <main class="main_login">
        <form action="" class="form">
        <input class="input_usuario" type="text" name="name" placeholder="Nombre de usuario">
        <input class="input_usuario" type="password" name="password" placeholder="Elegí tu contraseña">
        <button class="form_button" type="submit"><a href="/">Enviar</a></button>
        </form>
    </main>
    <hr>
    <footer>
        <section class="footer__section"> 
            <div class="footer_section--icono">
            <i class="fa-solid fa-credit-card"></i>
        </div>
            <p><b>Pagá con tarjeta o en efectivo</b></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="footer_section--icono">
            <i class="fa-solid fa-gift"></i>
        </div>
            <p><b>Envío gratis desde $ 2.500</b></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="footer_section--icono">
            <i class="fa-solid fa-user-shield"></i>
        </div>
            <p><b></i>Seguridad de principio a fin</b></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </footer>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>