<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/47f954a9fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        a { text-decoration: none; 
            color: black;} 
        </style>
</head>
<body>
    <main>
        
        <form action="" class="form1">
            <input class="input_datos" type="text" name="name" placeholder="Nombre y Apellido">
            <input class="input_datos" type="text" name="name" placeholder="Nombre de usuario">
            <input class="input_datos" type="email" name="email" placeholder="Email">
            <h2>Fecha de nacimiento</h2>
            <input class="input_fecha" type="date" name="birthday">
            <input class="input_fecha"type="text" name="address" placeholder="Domicilio">
            <h2>Perfil de usuario</h2>
            <div class="form_perfil">
            <label for="text"><input type="radio" name="perfil-de-usuario">Comprador</label>
            <label for="text"><input type="radio" name="perfil-de-usuario">Vendedor</label>
              </div>
            <h2>Intereses</h2>
            <div class="form_intereses">
                <label for="Electro"><input type="checkbox" name="intereses">Electro</label>
                <label for="Moda"><input type="checkbox" name="intereses">Moda</label>
                <label for="Hogar"><input type="checkbox" name="intereses">Hogar</label>
                <label for="Jugueteria"><input type="checkbox" name="intereses">Jugueteria</label>
                <label for="Vida Sana"><input type="checkbox" name="intereses">Vida Sana</label>
              </div>
              <h2>Foto de perfil</h2>
              <div class="form_file">
                    <input type="file" name="file">
              </div>
              <div class="form_contraseña">
                  <input class="input_contra" type="password" name="password" placeholder="Contraseña">
                  <input class="input_contra" type="password" name="password2" placeholder="Repetir contraseña">
              </div>
             <div class="form_register--button">
                 <button class="button_enviar" type="submit"><a href="/" >Enviar</a></button>
                 <button class="button_eliminar" type="reset">Eliminar</button>
             </div>
        </form>
    </main>
    <footer></footer>
</body>
</html>