*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --colorAmarillo:#EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --tipografia : 'Roboto';
    --cuerpoDeTexto: 12px;
    --tamañoTitulares: 24px;
    --tamañoPrecios: 18px;
    --tamañoDescuentosDescripciones: 16px;
}


