main{
    width: 90%;
    /*align-items: center;*/
    margin: 10px;
    text-align: center;
    /*padding: 10px;*/
}
body{
    font-family: var(--tipografia);
    font-size: small;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: var(--colorGrisClaro);
}
/* HEADER */
header{
    background-color: var(--colorAmarillo);
}
.header--buscar form{
    display: flex;
    height: 32px;
    background-color: #FFF;
    margin: 5px;
}
.header--buscar input{
    border: none;
    width: 85%;
    outline: none;
}
.header--buscar button{
    width: 15%;
    border: none;
    background-color: #FFF;
    color: var(--colorGrisOscuro);
}

.encabezado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    /*height: 50%;*/
}

.banner{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
header input{
    border: none;
}
/*.img{
    padding-top: 10px;
}*/

/* MENU/LISTAS */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}
ul{
    list-style: none;
    padding: 5px;
    display: flex;
    gap: 20px   
}
li{
    display: none;
}
.home_nav--sitio{
    justify-content: flex-start;
}
.home_nav--user{
    justify-content: flex-end;
}

/* MAIN */
main section{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*align-items:center;*/
    justify-content: space-around;
    padding: 5%; 
    gap: 30px 5px;
}
.caja_section{
    display: flex;
    flex-wrap: wrap;
}
.caja_padre{
    width: 20%;
    background-color: #ffff;
}
.caja_padre img{
    width: 100%;
}
h3{
    text-align: left;
    font-size: var(--tamañoTitulares);
    color: gray;
}
.burger-menu{
    color : var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    margin-left: 45%;
    text-align: center;
    width: 7%;
    padding: 5px;
    border-radius: 20%;
}
.precio{
    font-size: var(--tamañoPrecios);
    display: inline;
}
.descuento{
    font-size: var(--tamañoDescuentosDescripciones);
    color: var(--colorVerde);
    display: inline;
    padding-left: 2%;
}
.detalle{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    text-align: left;
}
.descripcion{
    font-size: var(--tamañoDescuentosDescripciones);
    display: none;
}
.fa-truck {
    color: var(--colorVerde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
/* FOOTER */
.footer_section--icono{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
footer{
    text-align: center;
}
.copyright{
    background-color: #1259c3;
    text-align: center;
}
 header img{
    height: 40px;
}

/* TABLET */
@media (min-width: 768px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    li{
        display: block;
    }
    header img{
        height: 80px;
    }
    footer{
        display: flex;
        flex-direction: row;
  
        width: 100%;
    }
    .copyright{
        text-align: center;
        background-color:#1259c3;
    }
}
/* DESKTOP */
@media (min-width: 1024px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    li{
        display: block;
    }
    header img{
        height: 80px;
    }
    footer{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .copyright{
        text-align: center;
        background-color:#1259c3;
    } 
    .detalle{
        height: 40px;
    }
    /* ANIMACIONES */

    .detalle article :hover{
        height: 250px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .caja_padre:hover .descripcion{
        display: inline;
    }
    .caja_padre:hover .detalle{
        height: 60px;
    }
    .descripcion{
        height: 0;
        width: 100%;
    }
    .detalle:hover .fa-truck{
        transition: all .2s;
        transform: rotate(-360deg);
    }
    /* ANIMACIONES FOOTER */
    .footer_section--icono:hover i{
        color: #0022AA;
    }

    .form_button{
        background-color:#39b54a;
    }
}
