body{
    background-color: #FFD700;
}
#buscador{
    text-align: center;
}
#compraencuota{
    text-align: center;
}
li{
    color: blue;
}
main{
    text-align: center;
}
#paga{
    text-align: center;
}
#envio{
    text-align: center;
}
#seguridad{
    text-align: center;
}
#copyright{
    text-align: center;
    color:blue;
}
